<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/tailwind.css">

    <title>Furnace Monitoring System</title>
</head>

<body class="bg-slate-800">
    <div
        class="flex flex-col flex-wrap items-center justify-center mx-auto relative min-h-screen animate-popIn-600 delay-500">
        <div class="border-solid border-2 border-orange-400 rounded-lg text-center p-10">
            <h1 class="text-3xl text-orange-400 m-3">Error occured!</h1>

            <h4 class="text-base text-orange-200 m-3"><%= message %></h4>
        </div>
    </div>
</body>

</html>